laba_1/bin/Debug/net10.0/laba_1.dll
laba_1/bin/Debug/net10.0/laba_1.exe
laba_1/bin/Debug/net10.0/laba_1.pdb
laba_1/obj/Debug/net10.0/apphost.exe
laba_1/obj/Debug/net10.0/laba_1.AssemblyInfo.cs
laba_1/obj/Debug/net10.0/laba_1.AssemblyInfoInputs.cache
laba_1/obj/Debug/net10.0/laba_1.dll
laba_1/obj/Debug/net10.0/laba_1.pdb
laba_1/obj/Debug/net10.0/laba_1.sourcelink.json
laba_1/obj/Debug/net10.0/ref/laba_1.dll
laba_1/obj/Debug/net10.0/refint/laba_1.dll
laba_1/bin/Debug/net10.0/laba_1.dll
laba_1/bin/Debug/net10.0/laba_1.exe
laba_1/bin/Debug/net10.0/laba_1.pdb
.vs/
bin/
obj/
